# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/tmp
/out

# Local development
.env
.env.local
.cache
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db

/generated/prisma
